@charset "UTF-8";

/*  리스트 뿌려주는곳에 넣을것 */

	.box_top {
		display:table;
		width:100%;
		table-layout:fixed;
	}
	
	.box_top .box_top_in{
		display:table-cell;
		vertical-align:middle;
	}

	/*qnaSort 관련 css*/
	/*밑에꺼 안먹음*/
	.contents {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  width: 100px;
	  height: 20px;
	}
	
	 .secret{
	 	background-color: #ececec;
	 }


	/* .reviewTable {
	    width:70%; 
	    margin:auto; 마진 안먹음
	    border : 1px solid black;
	    border-collapse : collapse;
	}
	
	.reviewTable tr td{
	 	border : 1px solid black;
	    border-collapse : collapse;
	}   
	
	여기
	.star-ratings {
	  color: #aaa9a9; 
	  position: relative;
	  unicode-bidi: bidi-override;
	  width: max-content;
	  -webkit-text-fill-color: transparent;
	  -webkit-text-stroke-width: 1.3px;
	  -webkit-text-stroke-color: #2b2a29;
	}
 
	.star-ratings-fill {
	  color: #fff58c;
	  padding: 0;
	  position: absolute;
	  z-index: 1;
	  display: flex;
	  top: 0;
	  left: 1;
	  overflow: hidden;
	  -webkit-text-fill-color: red; 
	  
	}
	 
	.star-ratings-base {
	  z-index: 0;
	  padding: 0;
	} 
	
	.parent {
		display: flex;
	}
	.child {
		flex: 1;
	} */