<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>


		<typeAlias type="com.pj.pet.user.UserVO" alias="UserVO"/>
		<typeAlias type="com.pj.pet.user.UserPetVO" alias="UserPetVO"/>
		<typeAlias type="com.pj.pet.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.pj.pet.board.notice.NoticeCateVO" alias="NoticeCateVO"/>
		<typeAlias type="com.pj.pet.board.faq.FaqVO" alias="FaqVO"/>
		<typeAlias type="com.pj.pet.board.faq.FaqCateVO" alias="FaqCateVO"/>
		<typeAlias type="com.pj.pet.board.faq.FaqKeyVO" alias="FaqKeyVO"/>
		<!-- <typeAlias type="com.pj.pet.review.product.ProductReviewVO" alias="ProductReviewVO"/> 보류-->
		<typeAlias type="com.pj.pet.review.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.pj.pet.util.Pager" alias="Pager"/>
		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="com.pj.pet.service.ServiceVO" alias="ServiceVO"/>
		<typeAlias type="com.pj.pet.service.ServiceFileVO" alias="ServiceFileVO"/>
		<typeAlias type="com.pj.pet.service.ReservationSettingVO" alias="ReservationSettingVO"/>
		<typeAlias type="com.pj.pet.service.ReservationTimeVO" alias="ReservationTimeVO"/>
		<typeAlias type="com.pj.pet.reservation.ReservationVO" alias="ReservationVO"/>
		<typeAlias type="com.pj.pet.user.UserVO" alias="UserVO"/>
		<typeAlias type="com.pj.pet.user.UserPetVO" alias="UserPetVO"/>
		<typeAlias type="java.lang.Long" alias="Long" />
		<typeAlias type="com.pj.pet.products.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.pj.pet.products.ProductFileVO" alias="ProductFileVO"/>
		<typeAlias type="com.pj.pet.category.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="com.pj.pet.carts.CartVO" alias="CartVO"/>
		<typeAlias type="com.pj.pet.order.OrderVO" alias="OrderVO"/>
		<typeAlias type="com.pj.pet.cartrefer.CartReferVO" alias="CartReferVO"/>
</typeAliases>
</configuration>