<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  	<typeAliases>
		<typeAlias type="com.pj.pet.service.ServiceVO" alias="ServiceVO"/>
		<typeAlias type="com.pj.pet.service.ServiceFileVO" alias="ServiceFileVO"/>
		<typeAlias type="com.pj.pet.reservation.ReservationVO" alias="ReservationVO"/>
		<typeAlias type="com.pj.pet.user.UserVO" alias="UserVO"/>
		<typeAlias type="com.pj.pet.user.UserPetVO" alias="UserPetVO"/>
	</typeAliases>
</configuration>