<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pj.pet.qna.QnaMapper">

	<!-- REPLY -->
	<insert id="setReply" parameterType="QnaVO">
		INSERT INTO QNA(NUM, PRODUCTNUM, id, CONTENTS, REGDATE, REF, STEP, DEPTH, REPLYCHECK)
		VALUES(NULL, #{productNum}, #{id}, #{contents}, now(), #{ref}, #{step}, #{depth}, 1)
	</insert>
	
	<!-- 여기수정 -->
	<update id="setStepUpdate" parameterType="QnaVO">
		UPDATE QNA SET STEP=STEP+1
		WHERE REF=#{ref} AND STEP > #{step}
	</update>
	
	<update id="setCheckUpdate" parameterType="QnaVO">
		UPDATE QNA SET REPLYCHECK = 2
		WHERE NUM = #{num}
	</update>
	
	<!-- qna seller -->
	<select id="getSellerList" resultType="QnaVO">
		SELECT * FROM QNA WHERE STEP>0
	</select>

	<!-- QNA -->
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA WHERE
		NUM > 0 
		AND
		PRODUCTNUM = #{productNum}
		<if test="dataNum != null">
			AND ID=#{id}
		</if>
		ORDER BY REF DESC, STEP ASC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="getDetail" resultType="QnaVO" parameterType="QnaVO">
		SELECT * FROM QNA WHERE NUM = #{num}
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(NUM) FROM QNA
	</select>

	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA(NUM, PRODUCTNUM, id, CONTENTS, REGDATE, REF, STEP, DEPTH, SECRET, REPLYCHECK)
		VALUES(#{num}, #{productNum}, #{id}, #{contents}, now(), #{num}, 0, 0, #{secret}, 1)
	</insert>
	
	<insert id="setRefUpdate" parameterType="QnaVO">
		UPDATE QNA SET REF = #{num} WHERE NUM=#{num}
	</insert>

	<update id="setUpdate" parameterType="QnaVO">
		UPDATE QNA SET CONTENTS = #{contents}, SECRET = #{secret}
		WHERE NUM = #{num}
	</update>
	
	<delete id="setDelete" parameterType="QnaVO">
		DELETE FROM QNA WHERE NUM=#{num}
	</delete>	


</mapper>