<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pj.pet.reservation.ReservationMapper">

	
	<insert id="setAdd" parameterType="ReservationVO" useGeneratedKeys="true" keyProperty="resNum">
		INSERT INTO RESERVATION(RESNUM,ID,SERNUM,RESDATE,RESTIME,RESMEMO,RESSTATE)
		VALUES (#{resNum},#{id},#{serNum},#{resDate},#{resTime},#{resMemo},0)
	</insert>
	
	<select id="confirmDetail" resultType="ReservationVO" resultMap="serviceConfirm">
		SELECT ROW_NUMBER() OVER(ORDER BY R.RESNUM DESC) AS NUM, 
		R.*,
		S.SERNUM,S.SERNAME,S.SERTEL,S.SERADDRESS,S.HOSPITALFIELD,S.HOMEPAGE,S.SERTIME  
			FROM RESERVATION R 
			INNER JOIN
			SERVICE S 
			ON R.SERNUM=S.SERNUM WHERE R.ID=#{id}
	</select>
	
	<resultMap type="ReservationVO" id="serviceConfirm">
		<id column="resNum" property="resNum"/>
		<result column="serNum" property="serNum"/>
		<result column="id" property="id"/>
		<result column="resDate" property="resDate"/>
		<result column="resTime" property="resTime"/>
		<result column="resMemo" property="resMemo"/>
		<result column="resState" property="resState"/>
		<association property="serviceVO" javaType="ServiceVO">
			<id column="serNum" property="serNum"/>
			<result column="serName" property="serName"/>
			<result column="serTel" property="serTel"/>
			<result column="serAddress" property="serAddress"/>
			<result column="hospitalField" property="hospitalField"/>
			<result column="homepage" property="homepage"/>
			<result column="serTime" property="serTime"/>
		</association>
	</resultMap>

</mapper>